@charset "utf-8";
body {
	background-image: none;
	text-align: center;
	border-top-color: #666;
	border-right-color: #666;
	border-bottom-color: #666;
	border-left-color: #666;
	list-style-type: none;
	vertical-align: middle;
}
